:root {
    font-family: Arial;
}

body {
    margin: 0;
        width: 100vw;
      height: 100vh;
        background-color: #e0e0e0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
}

#logo {
    display: flex;
    width: 10vw;
}

header {
    width: 80vw;
    display: flex;
    margin: 2% auto 4% auto;
    color: #1a1717;
}

.container_menu {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    color:#ffffff
}

.item_menu {
    list-style: none;
    font: normal normal 0.8em arial;
    padding: 1%;
    border-style: none;
    border-radius: 0.5em;
    margin-left: 3vw;
    color:#ffffff
}

.item_menu:hover {
    background-color: #4e788a;
    color: blanchedalmond;
    transform: scale(1.1);
    margin-left: 3vw;
    height: 2vh;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    list-style: none;
    transition: all 0.3s ease;

}

main {
    display: flex;
    width: 78vw;
    background-color: #ffffff;
    border-radius: 0.7em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    box-shadow: 5px 1px 5px #9b9da1;
    text-shadow: 1px 1px 2px #00000080;
}

.container_dashboard {
    display: flex;
    width: 70vw;
    height: 55vh;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 5vw;
}

.container_dashboard ul {
    display: flex;
    width: 87%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2%;
}

.item_dashboard {
    list-style: none;
    width: 27%;
    height: 15%;
}

.botao__dashboard {
    font: normal normal 0.8em Arial, sans-serif;
    color: #1a1717;
    width: 20vw;
    height: 22vh;
    border-radius: 0.7em;
    border-style: none;
    list-style: none;
    margin: 3%;
    text-decoration: none;
    transition: all 0.5s ease;
    box-shadow: 5px 1px 5px #9b9da1;
    text-shadow: 1px 1px 2px #00000080;
    transition: all 0.5s ease;
}

.botao__dashboard:hover {
    font: normal bolder 0.9em Arial, sans-serif;
    transition: all 0.5s ease;
    padding: 1%;
    transform: scale(1.1);
}

#btn_total_produtos {
    background-color: #b0ff60;
    list-style: none;
}

#btn_vendas_hoje {
    background-color: #50d3ff;
}

#btn_estoque_baixo {
    background-color: #fa57c4;
}

#btn_pedidos_pendentes {
    background-color: #f8c058;
}

#btn_movimentacoes {
    background-color: rgb(166, 87, 255);
}

#btn_alerta_estoque {
    background-color: #ff4848;
}

select {
    text-decoration: none;
    border: none;
    background-color: rgba(240, 255, 255, 0);
    width: 7vw;
}

select:hover {
    background-color: #4e788a;
    width: 7vw;
}

option,
label {
    border: none;
}

