:root {
    font-family: Arial;
}

body {
    margin: 0;
        width: 100vw;
      height: 100vh;
        background-color: #e0e0e0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
}

#logo {
    display: flex;
    width: 10vw;
}

header {
    width: 80vw;
    display: flex;
    margin: 2% auto 4% auto;
    color: #1a1717;
}

h1{
    font: normal bolder 1.5em Arial, sans-serif;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    text-shadow: 1px 1px 2px #00000080;
}

.container_menu {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    color:#ffffff
}

.item_menu {
    list-style: none;
    font: normal normal 0.8em arial;
    padding: 1%;
    border-style: none;
    border-radius: 0.5em;
    margin-left: 3vw;
<<<<<<< HEAD
    color:#ffffff
=======
    width: 8vw;

>>>>>>> f8c8532 (Adicionar nova página de produto com formulário e estilização; atualizar dashboard com ícones e informações dinâmicas)
}

.item_menu:hover {
    background-color: #4e788a;
    color: blanchedalmond;
    transform: scale(1.1);
    margin-left: 3vw;
    height: 2vh;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    list-style: none;
    transition: all 0.3s ease;

}

main {
    display: flex;
    width: 78vw;
    background-color: #ffffff;
    border-radius: 0.7em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    box-shadow: 5px 1px 5px #9b9da1;
    text-shadow: 1px 1px 2px #00000080;
}

.container_dashboard {
    display: flex;
    width: 70vw;
    height: 55vh;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 5vw;
}

.container_dashboard ul {
    display: flex;
    width: 87%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2%;
}

.item_dashboard {
    list-style: none;
    width: 27%;
    height: 15%;
}

.botao__dashboard {
    font: normal normal 0.8em Arial, sans-serif;
    color: #1a1717;
    width: 20vw;
    height: 22vh;
    border-radius: 0.7em;
    border-style: none;
    list-style: none;
    margin: 3%;
    text-decoration: none;
    transition: all 0.5s ease;
    box-shadow: 1px 5px 20px #9b9d;
    text-shadow: 1px 1px 2px #00000080;
}

#btn_total_produtos {
    background-color: #b0ff60;
    list-style: none;
}

#btn_vendas_hoje {
    background-color: #50d3ff;
}

#btn_fornecedores {
    background-color: #fa57c4;
}

#btn_pedidos_pendentes {
    background-color: #f8c058;
}

#btn_movimentacoes {
    background-color: #a657ff;
}

#btn_alerta_estoque {
    background-color: #ff4848;
}

.header_card_dashboard {
    display: flex;
    width: 90%;
    align-items: center;
    font-family: Outfit, sans-serif;
    
}
.card_item_dashboard {
    font: normal bolder 2em Outfit, sans-serif;
    width: 20vw;
    height: 22vh;
    text-shadow: 1px 1px 8px #31303080;
    display: flex;
    align-items: center;
    margin: 0;
}
.bi {
    padding: 3%;
    font-size: 4em;
    border-radius: 0.2em;
    height: 50%;
    width: 50%;
    text-shadow: 1px 8px 8px #000000bd;
}

select{
    text-decoration: none;
    border: none;
    background-color: #f0ffff00;
    width: 8vw;
}


select:hover {
    background-color: #4e788a;
}

option{
    border: none;
}

